

/*加载页*/

body .loading_dot1{
    position: absolute;
    top: 63.5%;
    left: 71%;
    width: 2.18%; /*14px*/
}
body .loading_dot2{
    position: absolute;
    top: 63.5%;
    left: 73.2%;
    width: 2.18%; /*14px*/
}
body .loading_dot3{
    position: absolute;
    top: 63.5%;
    left: 75.4%;
    width: 2.18%; /*14px*/
}

/*抽闺蜜红包页*/

.page3_dear{
    position:absolute;
    left: 31.8%;
    width: 36.4%; /*233/640*/
    top: 5%;
    z-index: 10001;
}

.page3_myGirl{
    position: absolute;
    left: 27.8%;
    width: 44.4%;/*284/640*/
    top: 11%;
    z-index: 10002;
}

.page3_envelope{
    position: absolute;
    left: 7%;
    width: 93.3%;/*597/640*/
    top: 20%;
    z-index: 10010;
}

.page3_envelope2{
    position: absolute;
    left: 9%;
    width: 76.2%;/*488/640*/
    top: 11%;
}

.page3_letter{
    position: absolute;
    left: 9%;
    width: 75% ;/*480/640*/
    top: 16%;
    z-index: 10001;
}

.page3_secret{
    position: absolute;
    left: 50.5%;
    width: 26.4%; /*169/640*/
    height: 8%;
    top: 53.3%;
    z-index: 10010;
}

.secret_img{
    position: absolute;
    top: 11%;
    left: 0%;
}

.page3_drawBtn{
    position: absolute;
    left: 19.6%;
    width: 60.8%;/*389/640*/
    top: 72.5%;
}

.page3_txt{
    position: absolute;
    left: 26.8%;
    width: 46.5%;/*297/640*/
    top: 69.5%;
}

.page3_phoneNumber{
    position: absolute;
    left: 8.4%;
    width:83.3% ; /*533/640*/
    top: 60%;
    z-index: 10011;
}

/*红包页*/
.page4_bgLight{
    position: absolute;
    width: 100%;
    top: 9%;
}


.page4_txt1{
    position: absolute;
    left: 34%; 
    width: 36.1%; /*231/640*/
    top: 15%;
}

.page4_txt2{
    position: absolute;
    left: 22%;
    width: 56.1%; /*359/640*/
    top: 56%;
}

.page4_coupon0{
    position: absolute;
    left: 4%;
    width: 92%;/*589/640*/
    top:21% ;
}

.page4_coupon1{
    position: absolute;
    left: 70%; 
    width: 15%; /*96/640*/
    top: 6%;
}

.page4_coupon2{
    position: absolute; ;
    left: 10%;
    width: 17.2%;/*110/640*/
    top: 15%;
}

.page4_coupon3{
    position: absolute;
    left: 70%;
    width: 17.7%;/*113/640*/
    top: 49%;
}

.page4_particles{
    position: absolute;
    left: 13.5%;
    width: 85.1%; /*545/640*/
    top: 15%;
}

.page4_creat{
    position: absolute;
    left: 19.5%;
    width: 60.9%;/*390/640*/
    top: 69%;
}

.page4_cash{
    position: absolute;
    top: 29%;
    left: 26.5%;
    width: 40%;
    font-size: 7em;
    font-weight: 600;

    color: #fff;
    -webkit-text-stroke: 2px #2C3047;
    text-align: center;
}

/*贺卡页*/
.page5_bgLight{
    position: absolute;
    width: 100%;
    top: 9%;
}

.page5_txt{
    position:absolute;
    left: 21.2%;
    width: 57.7%;/*369/640*/
    top: 10%;
}

.page5_arrowR{
    position: absolute;
    left: 85%;  
    width: 11.6%; /*37*2/640*/
    height: 10%;
    top: 35%;
    z-index: 10000;
}

.page5_AR{
    position: absolute;
    top: 15%;
    left: 50%;
    width: 50%;
}

.page5_arrowL{
    position: absolute;
    left: 2%;  
    width: 11.6%; /*37/640*/
    height: 10%;
    top: 35%;
    z-index: 10000;
}

.page5_AL{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 50%;
}

.page5_cus{
    position: absolute;
    left: 38.6%;
    width: 22.8%; /*146/640*/
    height: 5%;
    top: 70%;
    z-index: 10001;
}

.cus_img{
    position: absolute;
    left: 0%;
    top: 20%;
}

.page5_card1{
    position: absolute;
    left: 5.5%;
    width: 89.1%; /*570/640*/
    top: 15%;
}

.page5_card2{
    position: absolute;
    left: 8.7%;
    width: 82.6%;/*529/640*/
    top: 15%;
}

.page5_card3{
    position: absolute;
    left: 10.4%;
    width: 79.2%; /*507/640*/
    top: 15%;
}



.page5_share{
    position: absolute;
    left: 19.5%;
    width: 60.9%;
    top: 74%;   
}

/*朋友圈进入首页*/
.page8_bgLight{
    position: absolute;
    width: 100%;
    top: 13%;
}

.page8_draw{
    position: absolute;
    left: 19.6%;
    width: 60.8%;/*389/640*/
    top: 74%;
}



.page8_card1{
    position: absolute;
    left: 5.5%;
    width: 89.1%; /*570/640*/
    top: 11.5%;
}

.page8_card2{
    position: absolute;
    left: 8.7%;
    width: 82.6%;/*529/640*/
    top: 11.5%;
}

.page8_card3{
    position: absolute;
    left: 10.4%;
    width: 79.2%; /*507/640*/
    top: 11.5%;
}

.page8_line1{
    position: absolute;
    top: 23%;
    width: 64%;
    height: 5%;
    left: 18%;
    border: 0;
    background-color: transparent;
    overflow: hidden;
    color: #2F344D;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    line-height: 200%;
    
    text-indent: 0;
    letter-spacing: 0em;


}

.page8_line2{
    position: absolute;
    top: 28%;
    width: 64%;
    height: 5%;
    left: 17%;
    border: 0;
    background-color: transparent;
    overflow: hidden;
    color: #2F344D;
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    line-height: 200%;
    
    text-indent: 0;
    letter-spacing: 0em;

}
.page8_input{
    position: absolute;
    left: 7.5%;
    width: 83%;/*531/640*/
    top: 65%;
    z-index: 10001;
}


/*神秘大奖*/

.pageBag_btn{
    position: absolute;
    top: 88%;
    left: 26.7%;
    width: 46.5% ;/*297/640*/
}
